@import "https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap";

// Background Colours
$primary: #1E91D6;
$secondary: #0072BB;
$backgroundPrimary: #8FC93A;
$backgroundSecondary: #E4CC37;
$highlight: #E18335;

// Text Colours
$textPrimary: #FFFFFF;
$textSecondary: #000000;

// Font
$roboto: Roboto, sans-serif;
$rubik: Rubik, sans-serif;
