@import "https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700&display=swap";

// Background Colours
$primary: #1E91D6;
$secondary: #0072BB;
$backgroundPrimary: #8FC93A;
$backgroundSecondary: #E4CC37;
$highlight: #E18335;
$codeBackground: #f5ebae;

// Text Colours
$textPrimary: #FFFFFF;
$textSecondary: #000000;

// Font
$lato: Lato, sans-serif;
$merriweather: Merriweather, serif;
