// Background Colours
$primary: #1E91D6;
$secondary: #0072BB;
$backgroundPrimary: #8FC93A;
$backgroundSecondary: #E4CC37;
$highlight: #E18335;

// Text Colours
$textPrimary: #FFFFFF;
$textSecondary: #000000;

// Font
$font: -apple-system, Roboto, sans-serif, serif;
